{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  Create New Timer
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="levels-wrapper">
      <div id="levels-container">
        {% include "timers/partials/level_field.html" with type="play" index="1" small=1 big=2 duration=15 %}
      </div>
      <button type="button"
              class="btn btn-secondary"
              hx-get="{% url 'timers:level_field' %}?type=play"
              hx-target="#levels-container"
              hx-swap="beforeend"
              hx-include=".level-row:nth-last-child(-n+2)"
              id="add-level-btn">Add Level</button>
      <button type="button"
              class="btn btn-secondary"
              hx-get="{% url 'timers:level_field' %}?type=break"
              hx-target="#levels-container"
              hx-swap="beforeend"
              hx-include=".level-row:nth-last-child(-n+2)"
              id="add-level-btn">Add Break</button>
    </div>
    <button type="submit" class="btn btn-primary">Create Timer</button>
  </form>
{% endblock content %}
