{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  Create New Timer
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <select name="levels-1-type">
      <option value="play" selected>Play</option>
      <option value="break">Break</option>
    </select>
    <input name="levels-1-small" value="100" />
    <input name="levels-1-big" value="200" />
    <input name="levels-1-duration" value="15" />
    <button type="submit" class="btn btn-primary">Create Timer</button>
  </form>
{% endblock content %}
