{% extends "base.html" %}

{% block content %}
  <div class="event">
    <h2>{{ event.title }}</h2>
    <p>{{ event.start_date|date:"F j, Y" }}</p>
    <p>Created at: {{ event.created_at|date:"F j, Y, g:i a" }}</p>
    <p>Last updated: {{ event.updated_at|date:"F j, Y, g:i a" }}</p>
    <p>{{ event.description }}</p>
    {% if event.is_active %}
      <span>Ongoing</span>
      {% if event.is_checked_in %}
        <a class="btn btn-warning" disabled>Checked In</a>
      {% else %}
        <a class="btn btn-warning" href="{% url 'events:check_in' event.id %}">Check In</a>
      {% endif %}
    {% elif event.is_rsvp_open %}
      {% include "events/partials/rsvp_button.html" with event=event rsvped=event.is_rsvped %}
    {% elif event.is_finished %}
      <span>Finished</span>
    {% else %}
      <span>RSVP opens on {{ event.rsvp_start_date|date:"F j, Y" }}</span>
    {% endif %}
  </div>
{% endblock content %}
