{% extends "base.html" %}

{% load static partials %}

{% block title %}
  Browse Events
{% endblock title %}
{% block compressed_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/events/base.css' %}" />
{% endblock compressed_css %}
{% block compressed_js %}
  {{ block.super }}
  <script defer src="{% static 'js/libs/filter_aware_url.js' %}"></script>
{% endblock compressed_js %}
{% block content %}
  <h1>Browse Events</h1>
  {% if perms.events.add_event %}
    <a href="{% url 'events:create' %}">+ Create New Event</a>
    <br />
  {% endif %}
  <!-- ## Filter Bar ## -->
  {% url 'events:list' as update_url %}
  <label for="per-page-filter">Items Per Page</label>
  <select name="v"
          id="per-page-filter"
          class="filter"
          data-default="20"
          hx-trigger="change"
          hx-get="{{ update_url }}"
          hx-target="#event-list"
          hx-include=".filter,#current-page"
          hx-on::after-request="updateHistory()">
    <option value="5" {% if filters.events_per_page == 5 %}selected{% endif %}>5</option>
    <option value="10" {% if filters.events_per_page == 10 %}selected{% endif %}>10</option>
    <option value="20" {% if filters.events_per_page == 20 %}selected{% endif %}>20</option>
    <option value="50" {% if filters.events_per_page == 50 %}selected{% endif %}>50</option>
  </select>
  <label for="order">Order By:</label>
  <select class="filter"
          id="order-filter"
          name="s"
          data-default="relevance"
          hx-trigger="change"
          hx-get="{{ update_url }}"
          hx-target="#event-list"
          hx-include=".filter,#current-page"
          hx-on::after-request="updateHistory()">
    <option value="relevance"
            {% if filters.order == "relevance" %}selected{% endif %}>Relevance</option>
    <option value="popular"
            {% if filters.order == "popular" %}selected{% endif %}>Popular</option>
    <option value="date" {% if filters.order == "date" %}selected{% endif %}>Date</option>
  </select>
  <input type="text"
         class="filter"
         id="search-filter"
         name="q"
         placeholder="Search events..."
         value="{{ filters.search_query }}"
         hx-trigger="input changed delay:250ms"
         hx-get="{{ update_url }}"
         hx-target="#event-list"
         hx-include=".filter,#current-page"
         hx-on::after-request="updateHistory()" />
  <input type="checkbox"
         class="filter"
         id="include-finished-filter"
         name="prev"
         {% if filters.include_finished %}checked{% endif %}
         data-default="0"
         hx-trigger="change"
         hx-get="{{ update_url }}"
         hx-target="#event-list"
         hx-include=".filter,#current-page"
         hx-on::after-request="updateHistory()" />
  <label for="include-finished-filter">Include Finished Events</label>
  <!-- ## Event List ## -->
  <div id="event-list-wrapper" hx-on::after-request="updateHistory()">
    <div id="event-list">
      {% partialdef event-list inline %}
      {% url 'events:list' as update_url %}
      {% include "common/partials/page_nav.html" with page=page max_page=max_page update_url=update_url update_element="#event-list" %}
      <div class="row g-4">
        {% for event in events %}
          <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="event card w-100">
              <div class="card-img-wrapper">
                <img class="card-img-top card-img-cover" alt="Card image cap" />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                {% if event.description %}<p class="card-text">{{ event.description|truncatewords:50 }}</p>{% endif %}
                <p class="mb-1">
                  <small>Starts {{ event.start_date|date:"ha, F j, Y" }}</small>
                </p>
                <p class="mb-3">
                  <small>Ends {{ event.end_date|date:"F j, Y - h:i a" }}</small>
                </p>
                <div class="mt-auto">
                  {% if event.is_active %}
                    <span>Ongoing</span>
                    {% if event.is_checked_in %}
                      <a>Checked In</a>
                    {% else %}
                      <a class="btn btn-warning" href="{% url 'events:check_in' event.id %}">Check In</a>
                    {% endif %}
                  {% elif event.is_rsvp_open %}
                    {% include "events/partials/rsvp.html" with event=event rsvped=event.is_rsvped %}
                  {% elif event.is_finished %}
                    <span>Finished</span>
                  {% else %}
                    <span>RSVP opens on {{ event.rsvp_start_date|date:"F j, Y" }}</span>
                  {% endif %}
                  <div class="mt-2">
                    <a href="{% url 'events:detail' event.id %}" class="btn btn-sm btn-link">View Details</a>
                    <button data-url="{% url 'events:detail' event.id %}"
                            class="btn btn-sm btn-outline-secondary"
                            onclick="copyUrl(this)">Copy URL</button>
                    {% if perms.events.manage_event %}
                      <a class="btn btn-secondary" href="{% url 'events:manage' event.id %}">🔧</a>
                    {% endif %}
                    {% if event.is_rsvp_open or event.is_active %}
                      {% with event.going_count|add:event.late_count as interested_count %}
                        {% if interested_count > 50 %}
                          <p>50+ people are interested</p>
                        {% elif interested_count > 20 %}
                          <p>20+ people are interested</p>
                        {% elif interested_count > 10 %}
                          <p>10+ people are interested</p>
                        {% endif %}
                      {% endwith %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p>No events available.</p>
        {% endfor %}
      </div>
    {% endpartialdef %}
  </div>
</div>
{% endblock content %}
