{% extends "base.html" %}

{% load static %}

{% block compressed_js %}
  {{ block.super }}
  <script defer src="{% static 'js/filtered_list.js' %}"></script>
  <script defer src="{% static 'js/points/leaderboard.js' %}"></script>
{% endblock compressed_js %}
{% block content %}
  {% block season_header %}
    <h2>Leaderboard for Season: {{ season.name }}</h2>
  {% endblock season_header %}
  {% block filters %}
    <label for="members_per_page">Members per Page</label>
    <select class="filter"
            id="filter-members_per_page"
            name="v"
            data-default="{{ default_filters.members_per_page }}">
      <option value="10" {% if filters.members_per_page == 10 %}selected{% endif %}>10</option>
      <option value="25" {% if filters.members_per_page == 25 %}selected{% endif %}>25</option>
      <option value="50" {% if filters.members_per_page == 50 %}selected{% endif %}>50</option>
      <option value="100"
              {% if filters.members_per_page == 100 %}selected{% endif %}>100</option>
    </select>
    <input type="text"
           id="leaderboard-search"
           name="q"
           placeholder="Search by name..."
           value="{{ search_query }}" />
  {% endblock filters %}
  <!-- Leaderboard Table -->
  <div id="leaderboard-table">{% include "points/partials/leaderboard_table.html" with members=members %}</div>
{% endblock content %}
