{% extends "base.html" %}

{% load static partials %}

{% block compressed_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/points/leaderboard.css' %}" />
{% endblock compressed_css %}
{% block compressed_js %}
  {{ block.super }}
  <script defer src="{% static 'js/libs/filter_aware_url.js' %}"></script>
{% endblock compressed_js %}
{% block content %}
  {% block season_header %}
    <h2>Leaderboard for Season: {{ season.name }}</h2>
    <a href="{% url 'points:archive' %}">View Archived Seasons</a>
  {% endblock season_header %}
  <!-- ## Filter Bar ## -->
  {% url 'points:leaderboard' as update_url %}
  {% include "common/partials/paged_filters/items_per_page.html" with update_url=update_url update_element="#member-list" default=default_filters.members_per_page current=filters.members_per_page %}
  {% include "common/partials/paged_filters/search.html" with update_url=update_url update_element="#member-list" default=default_filters.search_query current=filters.search_query %}
  <!-- ## Event List ## -->
  <div id="member-list-wrapper" hx-on::after-request="updateHistory()">
    <div id="member-list">
      {% partialdef member_list inline %}
      {% url 'points:leaderboard' as update_url %}
      {% include "common/partials/page_nav.html" with page=page max_page=max_page update_url=update_url update_element="#member-list" %}
      <table class="leaderboard">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
            <tr>
              <td>{{ member.rank }}</td>
              <td>{{ member.user.name }}</td>
              <td>{{ member.points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endpartialdef member_list %}
  </div>
</div>
{% endblock content %}
